<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnviroOffset Tech</title>

    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.2/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        /* Custom Styles */
        header {
            background-color: rgba(255, 255, 255, 0.8);
            /* White with 80% opacity */
            backdrop-filter: blur(10px);
        }

        body {
            font-family: Poppins;
        }

        html {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body class="bg-gray-100">
    <!-- Header Section -->
    {% include 'admin/navbar.html' %}

    <main class="md:mt-16 bg-gray-200 min-h-screen transition-all main">
        
    
    <section class="relative bg-cover bg-center h-screen flex items-center"
        style="background-image: url('{{ url_for('static', filename='images/solarPanels.jpg') }}')">
        <div
        class="w-full px-6 py-2 m-auto bg-white rounded-2xl shadow-md ring-2 lg:max-w-xl"
        >
        <h1 class="text-3xl font-bold text-center my-4">
          Register at EnvironOffset Tech
        </h1>
        {% if error_message %}
        <h1
          class="text-white w-fit mx-auto font-semibold text-center bg-red-500 rounded-xl py-2 px-2"
        >
          {{error_message}}, please try again
        </h1>
        {% endif %} {% if success_message %}
        <h1
          class="text-white w-fit mx-auto font-semibold text-center bg-green-500 rounded-xl py-2 px-2"
        >
          {{success_message}}
        </h1>
        {% endif %}
        <form method="post">
            <div>
              <label class="label">
                <span class="text-base label-text">Email</span>
              </label>
              <input
                type="text"
                placeholder="Email Address"
                name="email"
                class="w-full input input-bordered"
              />
            </div>
            <div>
                <label class="label">
                  <span class="text-base label-text">Old password</span>
                </label>
                <input
                  type="password"
                  placeholder="Enter old Password"
                  name="password"
                  class="w-full input input-bordered"
                />
              </div>
            <div>
              <label class="label">
                <span class="text-base label-text">New password</span>
              </label>
              <input
                type="password"
                placeholder="Enter new Password"
                name="password"
                class="w-full input input-bordered"
              />
            </div>
            <div>
              <label class="label">
                <span class="text-base label-text">Confirm Password</span>
              </label>
              <input
                type="password"
                placeholder="Confirm new Password"
                name="confirm_password"
                class="w-full input input-bordered"
              />
            </div>
            <div class="space-y-2">
              <button class="btn btn-block mt-4">Reset</button>
            </div>
          </form>
    </section>
</body>