<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />

	<link rel="preconnect" href="https://fonts.bunny.net" />
	<link href="https://fonts.bunny.net/css?family=figtree:400,500,600&display=swap" rel="stylesheet" />
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
	<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet" />
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/layout.css') }}" />
	<script src="https://cdn.tailwindcss.com"></script>

	<title>User | Checkout </title>

	<style>
		/* Change the text content on hover */
		.custom-anchor:hover .custom-button span {
			display: none;
		}

		.custom-anchor:hover .custom-button::after {
			content: "Disable Staff Access";
			display: inline-block;
		}

		/* Change the text content on hover */
		.custom-anchor1:hover .custom-button1 span {
			display: none;
		}

		.custom-anchor1:hover .custom-button1::after {
			content: "Approve Staff Access";
			display: inline-block;
		}
	</style>
</head>


<body class="text-gray-800 font-inter bg-cover bg-fixed bg-center" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ url_for('static', filename='images/SolarPanels.jpg') }}')">">

    {% include 'user/navbar.html' %}

	<main class="w-full transition-all main my-24">


		{% if data and cartSize!=0 %}

		<div class="flex flex-col max-w-3xl p-6 space-y-4 sm:p-10 m-auto bg-gray-200 rounded-2xl">
			<h1 class="text-4xl font-semibold">Order List</h1>
			<ul class="flex flex-col divide-y">
				{% set totals = [] %}
				{% for cart,product in data %}
				{% if totals.append(cart.quantity * product.price) %}
				{% endif %}
				<li class="flex flex-col py-6 sm:flex-row sm:justify-between">
					<div class="flex w-full space-x-2 sm:space-x-4">

						<div class="flex flex-col justify-between w-full pb-4">
							<div class="flex justify-between w-full pb-2 space-x-2">
								<div class="space-y-1">
									<h3 class="text-lg font-semibold leadi sm:pr-8">{{product.name}}</h3>
									<p class="text-sm">{{product.description}}</p>
									<p><strong>Country:</strong> {{ product.country }}</p>
									<p><strong>Population:</strong> {{ product.population }} M</p>
									<p><strong>Impact:</strong> {{ product.impact }}</p>
									<p><strong>Energy Production:</strong> {{ product.energy_production }} kWh/day</p>
									<p><strong>Time to Recover Expense:</strong> {{ product.time_to_recover_expense }}
										days</p>
									<p><strong>Carbon Offset Per Year:</strong> {{ product.carbon_offset_per_year }}
										tons</p>
									<div class="inline-flex h-10">
										<form action="/DecrCart/{{product.id}}" method="POST">
											<button
												class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded-full"
												type="submit">
												-
											</button>
										</form>
										<h1 class=" py-2 px-4">{{cart.quantity}}</h1>
										<form action="/IncrCart/{{product.id}}" method="POST">
											<button
												class="bg-gray-300 hover:bg-gray-400 text-gray-800 py-2 px-4 rounded-full"
												type="submit">
												+
											</button>
										</form>
									</div>



								</div>
								<div class="text-right">
									<p class="text-lg font-semibold">£{{product.price}}</p>
								</div>
							</div>
							<div class="flex text-sm divide-x">
								<!-- <button type="button" class="flex items-center px-2 py-1 pl-0 space-x-1">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current">
								<path d="M96,472a23.82,23.82,0,0,0,23.579,24H392.421A23.82,23.82,0,0,0,416,472V152H96Zm32-288H384V464H128Z"></path>
								<rect width="32" height="200" x="168" y="216"></rect>
								<rect width="32" height="200" x="240" y="216"></rect>
								<rect width="32" height="200" x="312" y="216"></rect>
								<path d="M328,88V40c0-13.458-9.488-24-21.6-24H205.6C193.488,16,184,26.542,184,40V88H64v32H448V88ZM216,48h80V88H216Z"></path>
							</svg>
							<span>Remove</span>
						</button> -->
								<!-- <button type="button" class="flex items-center px-2 py-1 space-x-1">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-4 h-4 fill-current">
								<path d="M453.122,79.012a128,128,0,0,0-181.087.068l-15.511,15.7L241.142,79.114l-.1-.1a128,128,0,0,0-181.02,0l-6.91,6.91a128,128,0,0,0,0,181.019L235.485,449.314l20.595,21.578.491-.492.533.533L276.4,450.574,460.032,266.94a128.147,128.147,0,0,0,0-181.019ZM437.4,244.313,256.571,425.146,75.738,244.313a96,96,0,0,1,0-135.764l6.911-6.91a96,96,0,0,1,135.713-.051l38.093,38.787,38.274-38.736a96,96,0,0,1,135.765,0l6.91,6.909A96.11,96.11,0,0,1,437.4,244.313Z"></path>
							</svg>
							<span>Add to favorites</span>
						</button> -->
							</div>
						</div>
					</div>
				</li>
				{% endfor %}
			</ul>
			<div class="space-y-1 text-right">
				<p>Total amount: 
					<span class="font-semibold">£{{ '%0.2f' | format(totals | sum) }}</span>
				</p>
				<p class="text-sm">Not including taxes and shipping costs</p>
			</div>
			<div class="flex justify-end space-x-4">
				<a href="/user/home">
					<button type="button" 
					class="bg-red-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow">Back
						<span class="sr-only sm:not-sr-only">to Home</span>
					</button>
				</a>
				<form action="/user/cart" method="post">
					<button type="submit"
					class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded shadow"
						 >
						<span class="sr-only sm:not-sr-only">Continue to Checkout</span>
					</button>
				</form>
			</div>
		</div>
		{% else %}
		<div 
			class="flex flex-col max-w-3xl p-6 space-y-10 sm:p-10 bg-gray-200 m-auto text-center rounded-2xl">
			<h2 class="text-3xl font-semibold ">Nothing here, Please add.</h2>
			<a class="text-blue-500"  href="/user/home">Go back to Dashboard</a>
			<!-- <div>
        <div class="container text-center align-items-center">
            <h2>Nothing in the cart </h2>
            <a href="/user">Dashboard</a>
        </div>
    </div> -->
		</div>
		</div>
		{% endif %}

		<!-- End Content -->
	</main>
	<script src=" https://unpkg.com/@popperjs/core@2"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<!-- <script src="{{ url_for('static', filename='js/layout.js') }}"></script> -->
	<script>
        // start: Popper
        const popperInstance = {}
        document.querySelectorAll('.dropdown').forEach(function (item, index) {
            const popperId = 'popper-' + index
            const toggle = item.querySelector('.dropdown-toggle')
            const menu = item.querySelector('.dropdown-menu')
            menu.dataset.popperId = popperId
            popperInstance[popperId] = Popper.createPopper(toggle, menu, {
                modifiers: [
                    {
                        name: 'offset',
                        options: {
                            offset: [0, 8],
                        },
                    },
                    {
                        name: 'preventOverflow',
                        options: {
                            padding: 24,
                        },
                    },
                ],
                placement: 'bottom-end'
            });
        })
        document.addEventListener('click', function (e) {
            const toggle = e.target.closest('.dropdown-toggle')
            const menu = e.target.closest('.dropdown-menu')
            if (toggle) {
                const menuEl = toggle.closest('.dropdown').querySelector('.dropdown-menu')
                const popperId = menuEl.dataset.popperId
                if (menuEl.classList.contains('hidden')) {
                    hideDropdown()
                    menuEl.classList.remove('hidden')
                    showPopper(popperId)
                } else {
                    menuEl.classList.add('hidden')
                    hidePopper(popperId)
                }
            } else if (!menu) {
                hideDropdown()
            }
        })

        function hideDropdown() {
            document.querySelectorAll('.dropdown-menu').forEach(function (item) {
                item.classList.add('hidden')
            })
        }
        function showPopper(popperId) {
            popperInstance[popperId].setOptions(function (options) {
                return {
                    ...options,
                    modifiers: [
                        ...options.modifiers,
                        { name: 'eventListeners', enabled: true },
                    ],
                }
            });
            popperInstance[popperId].update();
        }
        function hidePopper(popperId) {
            popperInstance[popperId].setOptions(function (options) {
                return {
                    ...options,
                    modifiers: [
                        ...options.modifiers,
                        { name: 'eventListeners', enabled: false },
                    ],
                }
            });
        }
        // end: Popper



        // start: Tab
        document.querySelectorAll('[data-tab]').forEach(function (item) {
            item.addEventListener('click', function (e) {
                e.preventDefault()
                const tab = item.dataset.tab
                const page = item.dataset.tabPage
                const target = document.querySelector('[data-tab-for="' + tab + '"][data-page="' + page + '"]')
                document.querySelectorAll('[data-tab="' + tab + '"]').forEach(function (i) {
                    i.classList.remove('active')
                })
                document.querySelectorAll('[data-tab-for="' + tab + '"]').forEach(function (i) {
                    i.classList.add('hidden')
                })
                item.classList.add('active')
                target.classList.remove('hidden')
            })
        })
        // end: Tab

	</script>

</body>

</html>